<div [ngSwitch]="chat.MS_TYPE">
    <div *ngSwitchCase="msgType.MESSAGE"> <span>{{ chat?.MS_TEXT }}</span> </div>
    <div *ngSwitchCase="msgType.IMAGE">
        <img [src]="url+chat.MS_TEXT  || 'http://placehold.it/180'" class="rounded">
    </div>
    <div *ngSwitchCase="msgType.AUDIO">
        <audio controls>
                <source [src]="url+chat.MS_TEXT" type="audio/mp3">
                    Your browser does not support the audio element.
             </audio>
    </div>
    <div *ngSwitchCase="msgType.VIDEO">
        <div class="video">
            <video width="320" height="240" controls preload="metadata" #videoEl (click)="toggleVideo()">
                    <source [src]="url+chat.MS_TEXT" type="video/mp4" />
                    Your browser does not support the video element.
                </video>
            <!-- <button mat-fab (click)="playVideo()" class="gene-send-btn mat-blue-800">
                    <mat-icon>play_circle_outline</mat-icon>
                </button> -->
        </div>
        <div class="controls">
            <button (click)="playPause()">Play/Pause</button>
            <button type="button" (click)="onPlay()">Play</button>
            <button type="button" (click)="onPause()">Pause</button>
        </div>
    </div>

    <div style="display: flex; align-items: center;" *ngSwitchCase="msgType.DOCUMENT">
        <!-- <mat-icon matSuffix>folder_open </mat-icon> -->
        <mat-icon>insert_drive_file</mat-icon>
        &nbsp;&nbsp;&nbsp;
        <!-- {{ chat.MS_TEXT }} -->
        {{chat.MS_TEXT.substr(20,50)}}
        <button mat-fab (click)="downloadPdf(url+chat.MS_TEXT, chat.MS_TEXT.substr(20,10))" class="gene-send-btn ">
                <mat-icon>cloud_download</mat-icon>
            </button>
        <!-- <button mat-fab (click)="openDoc(url+chat.MS_TEXT, chat.MS_TEXT.substr(20,10))" class="gene-send-btn mat-blue-800">
                <mat-icon>preview</mat-icon>
            </button> -->
    </div>
</div>