.gene-chat-list {
    display: block !important;
}

.gene-chat-wrap {
    display: block !important;
    margin: 0 10px!important;
}

.sp-l {
    text-align: left !important;
}

.small-tx {
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: 100 !important;
}

.img-circle {
    height: 50px;
}

.circle:before {
    content: ' \25CF';
    font-size: 10px;
}

.div-cir {
    background: beige;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../../../assets/img/noavatar.png");
    background-size: cover;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.btn-cent {
    margin: auto;
    display: flow-root;
}