<div fxLayout="row" fxLayoutAlign="start" class="gene-chat-page">

    <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
        <mat-card class="mat-pad-none">
            <mat-sidenav-container class="chat-content-area">
                <mat-sidenav #chatnavbar [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" class="gene-chat-sidebar">
                    <mat-toolbar class="mat-blue-600 chat-toolbar-side">
                        <div>
                            <a>
                                <img class="img-circle" [src]="defoultUS?.USER_IMG!= null ? url+defoultUS?.USER_IMG : 'assets/img/noavatar.png'">
                            </a>
                        </div>
                        <span fxFlex></span>
                        <button [mat-menu-trigger-for]="user" mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </mat-toolbar>
                    <hr>
                    <mat-nav-list class="gene-chat-user">
                        <mat-list-item (click)="onSelect(user)" *ngFor="let user of users">
                            <div class="gene-chat-thumb"><img class="img-circle" mat-list-avatar src="{{url+user.USER_IMG}}" alt=""> </div>
                            <div class="gene-user-info pad-wrap"> <span> {{user.USER_UNIQNAME}} </span>
                                <p mat-line> <span class="circle" [ngStyle]="{'color': user.USER_ISONLINE == true ? 'lightgreen' : 'red'}"></span>
                                    <span *ngIf="user.USER_ISONLINE == true;">
                                        online
                                    </span>
                                    <span *ngIf="user.USER_ISONLINE != true;">
                                        offline
                                    </span>
                                </p>
                            </div>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-sidenav>
                <mat-toolbar class="chat-toolbar mat-blue-600">
                    <button (click)="chatnavbar.toggle()" mat-icon-button>
                        <mat-icon>short_text</mat-icon>
                    </button>
                    <a>
                        <img class="img-circle" [src]="selectedChat?.USER_IMG!= null ? url+ selectedChat.USER_IMG : 'assets/img/noavatar.png'">
                    </a>

                    <div fxFlex class="pad-wrap">
                        <div *ngIf="selectedChat?.USER_ID">
                            <p class="margin-none">{{selectedChat?.USER_UNIQNAME}}</p>
                            <div *ngIf="selectedChat?.USER_ISONLINE == true;else toggle_view">
                                <p mat-line class="margin-none small-tx"> <span class="circle" [ngStyle]="{'color': selectedChat?.USER_ISONLINE == true? 'lightgreen' : 'red'}"></span> online </p>
                            </div>
                            <ng-template #toggle_view>
                                <p class="margin-none small-tx"> آخر ظهور : {{selectedChat?.USER_LASTSEEN | date:'dd/MM/yyyy h:mm a'}}</p>
                            </ng-template>
                        </div>

                    </div>

                    <div>
                        <button [disabled]="!selectedChat ? 'selectedChat': null" mat-icon-button (click)="file.click()">
                            <mat-icon>attach_file</mat-icon>
                            <input #file type="file" (change)="onSelectFile($event, file.files)" style="display:none;"  accept=".gif,.jpg,.jpeg,.png,.doc,.docx,.txt,.pdf,.mp3,.mp4" />
                        </button>

                        <button [disabled]="!selectedChat ? 'selectedChat': null" [mat-menu-trigger-for]="them" mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                    </div>

                </mat-toolbar>
                <div class="gene-chat-area " fxLayout="column" fxLayoutAlign="end stretch">
                    <!-- <pre> {{ selectedChat?.USER_UNIQNAME +"- " + USER_UNIQNAME | json }}</pre> -->
                    <!-- <h1 *ngIf="defoultUS?.USER_ID && selectedChat?.USER_ID"></h1>-->
                    <!-- <pre> {{ defoultUS | json }} defoultUS</pre>
                        <pre> {{ selectedChat | json }} selectedChat</pre>
                        <pre> {{ defoultUS?.USER_ID +"-"+ selectedChat?.USER_ID | json }}</pre>
                        <pre> {{ chats | json }}</pre> -->
                    <!-- style="overflow: scroll; height: xyz;" #chatcontent [scrollTop]="chatcontent.scrollHeight" -->
                    <div>
                        <perfect-scrollbar [style.height]="'400px'" #perfectScroll [scrollIndicators]="true">

                            <div *ngIf="defoultUS?.USER_ID && selectedChat?.USER_ID" class="gene-chat-content">
                                <div class="gene-chat-wrap" *ngFor="let chat of chats" fxLayout="column">

                                    <div class="gene-chat-list mat-blue-800" *ngIf="chat.FUSER_ID == defoultUS?.USER_ID;else other_user" fxLayout="row" fxLayoutAlign="start start" class="mrgn-b-md">
                                        <div><img class="img-circle" [src]="url+defoultUS?.USER_IMG"></div>
                                        <div class="pad-wrap">
                                            <div class="mat-blue-800 gene-chat-msg">
                                                <span class="gene-block">
                                                    {{defoultUS?.USER_UNIQNAME}} :
                                                </span>
                                                <dynamicMedia [url]="url" [chat]="chat"> </dynamicMedia>
                                            </div>
                                            <div> <span class="meta-post gene-text-md">
                                                <!-- {{chat?.MS_DATE}} -->
                                                {{chat?.MS_DATE | date:'dd/MM/yyyy h:mm a'}}
                                            </span> </div>
                                        </div> <span fxFlex></span>
                                    </div>

                                    <ng-template #other_user>
                                        <div class="gene-chat-list mat-green" fxLayout="row" fxLayoutAlign="start start" class="mrgn-b-md"> <span fxFlex></span>
                                            <div class="pad-wrap">
                                                <div class="mat-green gene-chat-msg">
                                                    <span class="gene-block">
                                                        {{selectedChat?.USER_UNIQNAME}} :
                                                    </span>
                                                    <dynamicMedia [url]="url" [chat]="chat"> </dynamicMedia>
                                                </div>
                                                <div> <span class="meta-post  sp-l  gene-text-md"> {{chat?.MS_DATE | date:'dd/MM/yyyy h:mm a'}}</span>
                                                </div>
                                            </div>
                                            <div><img class="img-circle" [src]="url+selectedChat?.USER_IMG"></div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>

                        </perfect-scrollbar>
                    </div>

                    <div class="gene-chat-form">
                        <div *ngIf="fileList?.length == 0;else other_select" fxLayout="row" fxLayoutAlign="space-around center">
                            <button mat-fab [disabled]="!newMessage ? 'newMessage': null" (click)="send()" class="gene-send-btn mat-blue-800">
                                <mat-icon>send</mat-icon>
                            </button>
                            <input (keyup.enter)="send()" [(ngModel)]="newMessage" placeholder="نص الرسالة">
                        </div>
                        <ng-template #other_select>
                            <div class="files-list" *ngFor="let item of fileList;let i=index">
                                <p>{{ item.name }}</p>
                                <button class="delete-file" (click)="deleteAttachment(item,i)">
                                      <img src="assets/img/Recycle_Bin_Full.png">
                                    </button>
                            </div>
                            <div>
                                <button class="btn-cent gene-send-btn mat-blue-800" mat-flat-button color="primary" (click)="sendFileChat()">
                                    <mat-icon>cloud_upload </mat-icon>
                                </button>
                                <!-- <button mat-fab (click)="sendFileChat()" class="gene-send-btn mat-blue-800">
                                    <mat-icon>cloud_upload</mat-icon>
                                </button> -->
                            </div>
                        </ng-template>

                    </div>
                </div>
            </mat-sidenav-container>
        </mat-card>
    </div>
</div>
<mat-menu #user="matMenu">
    <button mat-menu-item (click)="login()">
        <mat-icon> account_circle </mat-icon> <span> {{ defoultUS.USER_UNIQNAME || "Login" }} </span>
    </button>
    <!-- <button mat-menu-item>
        <mat-icon> settings </mat-icon> <span> Settings </span>
    </button>
    -->
    <button mat-menu-item>
        <mat-icon>help</mat-icon> <span>مساعدة</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
        <mat-icon> exit_to_app </mat-icon> <span> تسجيل خروج </span>
    </button>
</mat-menu>
<mat-menu #them="matMenu">
    <button mat-menu-item>
        <mat-icon> account_circle </mat-icon> <span> {{selectedChat?.USER_UNIQNAME}} </span>
    </button>
    <button mat-menu-item (click)="mute()">
        <mat-icon> volume_mute </mat-icon> <span> كتم الصوت </span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="clearMessages()">
        <mat-icon> clear_all </mat-icon> <span> حذف المحادثة </span>
    </button>
</mat-menu>